.btn{
  border-radius: 12px;
  font-size: 18px;
  padding: 10px 14px;
  border: none;
}

.btn:hover{
  cursor: pointer;
}

.btn:active{
  cursor: pointer;
}

.btn-add{
  background-color: #22c55e;
  color: #ffffff;
}

.btn-add:hover{
  background-color: #16a34a;
}

.btn-add:active{
  background-color: #15803d;
}

.btn-delete{
  background-color: #ef4444;
  color: #ffffff;
}
.btn-delete:hover{
  background-color: #dc2626;

}

.btn-delete:active{
  background-color: #b91c1c;
}

.btn-import{
  background-color: #3b82f6;
  color: #ffffff;
}
.btn-import:hover{
  background-color: #2563eb;
}
.btn-import:active{
  background-color: #1d4ed8;
}

.btn-export-block{
  background-color: #8b5cf6;
  color: #ffffff;
}
.btn-export-block:hover{
  background-color: #7c3aed;
}
.btn-export-block:active{
  background-color: #6d28d9;
}

.btn-export-tempate{
  background-color: #f59e0b;
  color: #ffffff;
}
.btn-export-tempate:hover{
  background-color: #d97706;
}
.btn-export-tempate:active{
  background-color: #b45309;
}

.btn-back{
  margin-right: auto;
}

.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.toolbar {
  position: sticky;
  top: 0;
  z-index: 20;

  background: #fff;
  padding: 16px 20px;

  scrollbar-gutter: stable;
  border-bottom: 1px solid #e5e7eb;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.blocks-scroll {
  flex: 1;
  overflow-y: auto;
  scrollbar-gutter: stable;
}


.blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 16px;
}
