<div class="preview">
  <div class="header">
    <h2>Предпросмотр</h2>
    <div class="navigation">
      <button (click)="prev()"><</button>
      <p>{{index + 1}} из {{total}}</p>
      <button (click)="next()">></button>
    </div>
  </div>
  <div class="to">
    <p>Кому:</p>
    <div class="email">
      <address>{{currentPreview.to}}</address>
    </div>
  </div>
  <div class="subject">
    <p>Тема:</p>
    <input [(ngModel)]="subject" placeholder="Введите тему письма" />
  </div>
  <div class="tracking">
    <label>
      <input type="checkbox" [(ngModel)]="tracking" />
      Отслеживать открытия
    </label>
  </div>
  <div [innerHTML]="safeHtml"></div>
</div>
