<div class="preview">
  <div class="header">
    <h2>Предпросмотр</h2>
    <div class="navigation">
      <button mat-icon-button (click)="prev()"><mat-icon>chevron_left</mat-icon></button>
      <span>{{index + 1}} из {{total}}</span>
      <button mat-icon-button (click)="next()"><mat-icon>chevron_right</mat-icon></button>
    </div>
  </div>
  <p><b>Кому:</b> <span>{{currentPreview.to}}</span></p>

  <mat-form-field appearance="outline" subscriptSizing="dynamic">
    <mat-label>Тема</mat-label>
    <input matInput [(ngModel)]="subject" placeholder="Введите тему письма" />
  </mat-form-field>

  <mat-checkbox [(ngModel)]="tracking">Отслеживать открытия</mat-checkbox>

  <div [innerHTML]="safeHtml"></div>
</div>
