/*.header {*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  border-bottom: var(--border-size) solid var(--color-dark-text) ;*/
/*}*/

/*.navigation {*/
/*  width: 200px;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: space-between;*/

/*}*/

/*.navigation button {*/
/*  width: 40px;*/
/*  height: 40px;*/
/*  border-radius: var(--border-radius);*/
/*  border: var(--border-size) solid var(--color-dark-text);*/
/*  background-color: var(--color-base);*/
/*}*/

/*.preview {*/
/*  !*border: var(--border-size) solid var(--color-dark-text);*!*/
/*  !*border-radius: var(--border-radius);*!*/
/*  padding: 16px;*/
/*}*/

/*.to {*/
/*  !*border-bottom: var(--border-size) solid var(--color-dark-text) ;*!*/
/*  display: flex;*/
/*  align-items: center;*/
/*  gap: 8px;*/
/*  padding: 4px 8px;*/
/*}*/

/*.subject {*/
/*  border-bottom: var(--border-size) solid var(--color-dark-text);*/
/*  display: flex;*/
/*  align-items: center;*/
/*  gap: 8px;*/
/*  padding: 4px 8px;*/
/*}*/

/*.subject input {*/
/*  border: none;*/
/*}*/

/*.subject {*/
/*  border-bottom: var(--border-size) solid var(--color-dark-text);*/
/*  display: flex;*/
/*  align-items: center;*/
/*  gap: 8px;*/
/*  padding: 4px 8px;*/
/*}*/

/*.subject input {*/
/*  border: none;*/
/*}*/

mat-card { margin: 16px; }

mat-card-header { display: flex; align-items: center; }

.spacer { flex: 1; }

.label { color: gray; margin-right: 8px; }

.to { margin: 16px 0 8px; }

.subject { width: 100%; margin: 8px 0; }

mat-divider { margin: 16px 0; }

.html-preview { border: 1px solid #eee; border-radius: 8px; padding: 16px; }

mat-card {
  height: 100%;
  box-sizing: border-box;
}

mat-card {
  margin: 0 16px;
}
