# Databases.

POSTGRES_PREPARATION_USER=
POSTGRES_PREPARATION_PASSWORD=
POSTGRES_MAIL_SENDER_USER=
POSTGRES_MAIL_SENDER_PASSWORD=
POSTGRES_CONSTRUCTOR_USER=
POSTGRES_CONSTRUCTOR_PASSWORD=

# RabbitMQ.

RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=

# IP.

IP=
