


table { width: 100%; }

th, td { width: 50%; }

mat-form-field { width: 100%; }

.mat-mdc-text-field-wrapper {
  border-radius: 50px !important;
}

th, td {
  width: 50%;
  text-align: center !important;
}

