<div class="block">
  <div class="drag-handle">
    <div class="drag-zone" cdkDragHandle>
      <mat-icon class="drag-icon">drag_indicator</mat-icon>
    </div>
    <input
      class="block-name"
      [value]="name"
      (input)="onNameInput($event)"
      (pointerdown)="$event.stopPropagation()"
      placeholder="block"
    />
    <div class="drag-spacer" cdkDragHandle></div>
  </div>

  <textarea class="code"
            #ta
            [ngModel]="text"
            (ngModelChange)="textChange.emit($event)"
            (input)="autoGrow($event)"
            (focus)="onFocus()"
            (blur)="onBlur()">
  </textarea>
</div>
