/* You can add global styles to this file, and also import other style files */
:root {
  --color-red: #F44336;
  --color-dark-red: #D32F2F;
  --color-green: #4CAF50;
  --color-dark-green: #388E3C;

  --color-light-text: #FFFFFF;

  --font-size-small: 16px;

  --border-radius: 8px;

  --font-family: sans-serif;
}
