<div class="layout">
  <mat-toolbar class="toolbar">
    <div class="toolbar-group toolbar-group-left"></div>

    <div class="toolbar-group toolbar-group-center">
      <button mat-flat-button color="primary" (click)="addBlock()" matTooltip="Добавить пустой блок в конец">
        <mat-icon>add</mat-icon>
        Добавить блок
      </button>
      <button mat-stroked-button (click)="importBlock()" matTooltip="Импортировать блок из файла">
        <mat-icon>file_upload</mat-icon>
        Импорт
      </button>
      <input
        #fileInput
        type="file"
        accept=".html"
        (change)="onFileSelected($event)"
        hidden
      />
      <button mat-stroked-button (pointerdown)="exportTemplate()" matTooltip="Скачать готовый шаблон">
        <mat-icon>file_download</mat-icon>
        Экспорт
      </button>
      <button mat-stroked-button (click)="viewTemplate()" matTooltip="Просмотреть шаблон в новой вкладке">
        <mat-icon>visibility</mat-icon>
        Просмотр
      </button>
    </div>

    <div class="toolbar-group toolbar-group-right">
      <button mat-flat-button color="warn" (click)="sendTemplate()" matTooltip="Перейти на страницу рассылки">
        <mat-icon>send</mat-icon>
        К рассылке
      </button>
    </div>
  </mat-toolbar>

  <div class="blocks-scroll" cdkScrollable>
    <div
      class="blocks"
      cdkDropList
      cdkDropListOrientation="vertical"
      [cdkDropListData]="blocks"
      (cdkDropListDropped)="drop($event)"
    >
      @for (block of blocks; track block.id) {
        <div
          class="block-row"
          [class.block-row-new]="block.isNew"
          [class.block-row-drop]="block.dropTick === dropAnimationTick"
          [class.block-row-up]="block.upTick === upAnimationTick">
          <div
            class="block-wrapper"
            cdkDrag
            cdkDragLockAxis="y"
          >
            <app-html-block
              [id]="block.id"
              [text]="block.html"
              (textChange)="onBlockHtmlChange(block.id, $event)"
              (focused)="activeBlockId = block.id"
              (blurred)="activeBlockId = null">
            </app-html-block>
          </div>

          @if (activeBlockId === block.id) {
            <div class="block-actions">
              <button
                mat-mini-fab
                color="warn"
                matTooltip="Удалить блок"
                (pointerdown)="$event.preventDefault(); deleteBlock()">
                <mat-icon>delete</mat-icon>
              </button>
              <button
                mat-mini-fab
                color="accent"
                matTooltip="Экспортировать блок"
                (pointerdown)="$event.preventDefault(); exportBlock()">
                <mat-icon>file_download</mat-icon>
              </button>
              <button
                mat-mini-fab
                color="primary"
                matTooltip="Добавить блок ниже"
                (pointerdown)="$event.preventDefault(); addNextBlock()">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          }
        </div>
      }
    </div>
  </div>
</div>
