button {
  background-color: lightblue;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px;
  min-width: 200px;
  font-size: 16px;
}

button:hover {
  background-color: cornflowerblue;
}

button:disabled {
  background-color: darkred;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
