button {
  padding: 20px 40px;
  background-color: var(--color-red);
  border-radius: var(--border-radius);
  color: var(--color-light-text);
  font-size: var(--font-size-small);
  font-family: var(--font-family);
  border: none;
  outline: none;
  cursor: pointer;
}

button.active {
  background-color: var(--color-green);
}

button:hover {
  background-color: var(--color-dark-red);
}

button.active:hover {
  background-color: var(--color-dark-green);
}
